@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* body uchun o‘chirish */
body {
  @apply bg-white text-gray-900 transition-colors duration-300;
}

.dark body {
  @apply bg-gray-900 text-white;
}
@keyframes stars {
  from { background-position: 0 0; }
  to { background-position: -1000px 1000px; }
}

.bg-stars {
  background: url('/images/stars.png') repeat;
  background-size: contain;
  animation: stars 60s linear infinite;
}

